.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
    padding: 20px;
}

.controls{
    background: #f5f6f7;
    float: left;
    margin-right:20px;
}

.h_list{
    height: 70vh;
    margin:10px;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    background: #aee;
}

.input{
    margin-top: 5px;
    height: 25px;
}

.button{
    margin-top: 10px;
}

.updatedelete{
  display: flex;
}

.h_list > div{
  margin:10px;
  width: 220px;
  height: 200px;
  font-size: 0.75em;
}

.content{
  /*border: 1px solid red;*/
}